<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        label{
            font-weight: 800;
            font-size: 16px;
        }
        label span{
            font-weight: 400;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div style="margin-bottom: 25px;">
        <label for="">
            Title
            <span> {{ product.title }} </span>
        </label>
    </div>
    <div style="margin-bottom: 25px;">
        <label for="">
            Description
            <span> {{ product.description }} </span>
        </label>
    </div>
    <div style="margin-bottom: 25px;">
        <label for="">
            Price
            <span> ${{ product.price }} </span>
        </label>
    </div>
    <div style="margin-bottom: 25px;">
        <label for="">
            Stock
            <span> {{ product.stock }} unit </span>
        </label>
    </div>
    <div style="margin-bottom: 25px;">
        <label for="">
            Image
            <img src="/images/{{ product.image }} " alt=""> 
        </label>
    </div>
</body>
</html>